name: Backend

on:
  workflow_dispatch:

jobs:
  unit-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Set up Golang
      uses: actions/setup-go@v3
      with:
        go-version: '1.19'
    - name: Test runner
      run: |
        cd backend
        go test

  build-image:
    runs-on: ubuntu-latest
    needs: unit-tests
    steps:
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: '${{ secrets.DOCKERHUB_USERNAME }}'
        password: '${{ secrets.DOCKERHUB_TOKEN }}'
    - name: Build and Push
      uses: docker/build-push-action@v3
      with:
        context: "{{defaultContext}}:backend"
        push: true
        tags: ivanln26/iswiii-tif-backend:${{ github.run_number }}

  gcr-deploy:
    runs-on: ubuntu-latest
    needs: build-image
    steps:
    - uses: actions/checkout@v3
    - id: auth
      uses: google-github-actions/auth@v0
      with:
        credentials_json: ${{ secrets.GCP_SA_KEY }}
    - name: Deploy to Cloud Run
      uses: google-github-actions/deploy-cloudrun@v0
      with:
        source: ./backend
        service: backend
        env_vars: |
          DATABASE_DSN=${{ secrets.DATABASE_DSN }}
          REDIS_HOST=${{ secrets.REDIS_HOST }}
          REDIS_PORT=${{ secrets.REDIS_PORT }}
          REDIS_PASSWORD=${{ secrets.REDIS_PASSWORD }}
    - name: Show Output
      run: echo ${{ steps.deploy.outputs.url }}
